  <%= render("layouts/errors", :object => @veterinarian) %>

  <%= form_for(@veterinarian) do |f| %>
    <div class="align-rt">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="align-rt">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div class="align-rt">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="align-rt">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <%= f.submit(:class => "btn btn-primary") %>
  <% end %>