<div class="page-header">
  <h1><%= @veterinarian.name %></h1>
</div>

<p>Phone: <%= @veterinarian.phone %></p>
<p>Email: <a href="mailto:<%= @veterinarian.email %>"><%= @veterinarian.email %></a></p>
<p>Address: <%= @veterinarian.address %>     <a class="btn btn-success" href="http://maps.google.com/?q=<%= @veterinarian.address %>" target="_blank">Map it!</a></p>

<%= link_to "Edit", edit_veterinarian_path(@veterinarian), :class => "btn btn-warning" %>
<%= link_to "Delete", veterinarian_path(@veterinarian), 
  :data =>{:confirm=> "You sure?",
           :method => "delete"},
           :class => "btn btn-danger" %>