<%= render("layouts/errors", :object => @pet) %>

<%= form_for(@pet) do |f| %>
  <input id="user_id" name="pet[user_id]" type="hidden" value="<%= current_user.id %>">
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="form-group">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="form-group">
    <%= f.label :kind %><br />
    <%= f.text_field :kind %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
