<%= render("layouts/errors", :object => @pet) %>

<%= form_for(@pet) do |f| %>
  <div class
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>
  <div class
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>