  <%= render("layouts/errors", :object => @vet_appointment) %>

  <%= form_for [@pet, @vet_appointment] do |f| %>
    <input id="pet_id" name="vet_appointment[pet_id]" type="hidden" value="<%= @vet_appointment.pet_id %>">
    <div class="form-group">
      <%= f.collection_select :veterinarian_id, current_user.veterinarians, :id, :name %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <div class="form-group">
      <%= f.label :note %><br />
      <%= f.text_field :note %>
    </div>
    <div class="form-group">
      <%= f.label :cost %><br />
      <%= f.text_field :cost %>
    </div>
    <div class="form-group">
      <%= f.label :date %><br />
      <%= f.text_field :date %>
    </div>
    <%= f.submit(:class => "btn btn-primary") %>
  <% end %>
